<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Soccer Statistics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </li>
      </ul>
    </div>
  </nav>
  <hr size="2px" color="black" />
  <div>
   <h1 >ADMINISTRADOR</h1>
  </div>
  <hr size="2px" color="black" />
  

  <div class="row" >
    <div class="col-2" >
    <nav class ="navbar bg-light" id="div2">
       
      <ul class="navbar-nav">
        <li class="nav-item active">
            <hr size="2px" color="black" class="bar1" />
            <p class="texto">Operaciones con Cuentas</p>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark">Dar de alta o Baja</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-light">Congelar</button>
        </li>
        <li class="nav-item">
          <button  type="button" class="btn btn-dark">Visualizar</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-light">Actualizar</button>
        </li>
        <li class="nav-item">
          <button  type="button" class="btn btn-dark">Eliminar</button>
        </li>
        <li class="nav-item">
            <hr size="2px" color="black" class="bar1" />
            <p class="texto">Reportes</p>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark">Reportes Usuarios</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-light">Reportes Empleados</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark">Bitácoras</button>
        </li>
        <li class="nav-item">
            <hr size="2px" color="black" class="bar1" />
            <p class="texto">Otras opciones</p>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-dark">Cerrar Sesión</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light"><a class="letra" href="/Principal" >Página Principal</a></button>
          </li>
          <li class="nav-item">
            <hr size="2px" color="black" class="bar1" />
          </li>
        <li class="nav-item">
         <a class="img1"><img src="assets\img\logo.png" width="100px" height="100px"/></a>
        </li>
      </ul>
    </nav>
    </div>
  
