<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Soccer Statistics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </li>
      </ul>
    </div>
  </nav>
  <hr size="2px" color="black" />
  <div>
   <h1 >ADMINISTRADOR</h1>
  </div>
  <hr size="2px" color="black" />
  
 <div class="general">
   <div class="menu">
    <div class="row" >
      <div class="col-2" >
      <nav class ="navbar" > 
        <ul class="navbar-nav">
          <li class="nav-item active">
              <hr size="2px" color="black"  />
              <p class="texto22">Operaciones con Cuentas</p>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark">Dar de alta o Baja</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-secondary" >Congelar</button>
          </li>
          <li class="nav-item">
            <button  type="button" class="btn btn-dark">Visualizar</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-secondary">Actualizar</button>
          </li>
          <li class="nav-item">
            <button  type="button" class="btn btn-dark">Eliminar</button>
          </li>
          <li class="nav-item">
              <hr size="2px" color="black"  />
              <p class="texto22">Reportes Usuarios</p>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" registerView='regView1' href="assets\Paginas\UsuariosSups.html" target="vista" role="button" id="boton">Usuarios Suscritos a X equipo</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary" href="assets\Paginas\UsuariosMem.html" target="vista" role="button" id="boton">Usuario Con o Sin Membresía</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="assets\Paginas\UsuMasMem.html" target="vista" role="button" id="boton">Usuarios que Mas membresías han adquirido</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary" href="assets\Paginas\UsuarioDinero.html" target="vista" role="button" id="boton">Usuarios que más dinero han gastado</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="assets\Paginas\UsuariosPais.html" target="vista" role="button" id="boton">Usuarios de X País</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary" href="assets\Paginas\UsuariosGenero.html" target="vista" role="button" id="boton">Usuarios de X genero</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="assets\Paginas\UsuariosEdad.html" target="vista" role="button" id="boton">Usuarios con al menos X años de edad</a>
          </li>
          <li class="nav-item active">
            <hr size="2px" color="black"  />
        </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light" target="vista"> Reportes Empleados</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark">Bitácoras</button>
          </li>
          <li class="nav-item">
            <hr size="2px" color="black"  />
            <p class="texto22">Crear Usuarios</p>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark"><a class="letra" href="crearUsus">Administradores y Empleados</a></button>
        </li>
          <li class="nav-item">
              <hr size="2px" color="black"  />
              <p class="texto22">Otras opciones</p>
          </li>
          <li class="nav-item">
              <button type="button" class="btn btn-dark">Cerrar Sesión</button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-secondary"><a class="letra" href="/Principal" >Página Principal</a></button>
            </li>
            <li class="nav-item">
              <hr size="2px" color="black"  />
            </li>
            
          <li class="nav-item">
           <a class="img1"><img src="assets\img\logo.png" width="100px" height="100px"/></a>
          </li>

        </ul>
      </nav>
      </div>
      </div>
   </div>
  
  <div class="contenedor">
    <div class="open-card-BG" *ngIf="registerView == 'regView1'">
      <app-page1-component></app-page1-component>
 </div>
     <iframe src="admin.component.html" style="width: 1900px; height: 850px" name="vista"></iframe>
  </div>
    
 </div>

  
