.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}
h3 {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;

  }

  hr {
    height: 10px;
    background-color: white;
  }
.video{
    text-align: center;
} 
.tabla1{
    color: aliceblue;
    table-layout: fixed;
    width: 100%;
} 
.tabla2{
    table-layout: fixed;
    width: 100%;
    text-align: center;
} 
body { 
    height:100%;
    background-image: url("assets\img\fondo1.jpg") ;
    background-size: cover;
     background-repeat:no-repeat;
     background-position: center center;
}
.letra{
    font-family: 'Courier New', Courier, monospace;
} 
.nav-link{
    color: black;
}

.custom-form {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 1rem;
}
.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: white;
}
.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: white;
  font-weight: bold;
  background-color: gray;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px greenyellow, -3px -3px 8px white;
  cursor: pointer;
}
.texto{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
} 
.texto2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
} 
.espacio{
    height: 75px;
}