
  <hr size="2px" color="black" />
  <div>
   <h1 >Reportes Usuarios</h1>
  </div>
  <hr size="2px" color="black" />
  <table class="tabla1"> 
      <tr>
          <td> <p class="texto22">Usuarios Suscritos a X equipo</p>
            <p class="texto22">Seleccione Equipo</p>
            <select name="miselect"  class="combo2">
                <option >opciones json</option>
            </select>
                     <table class="table table-sm table-dark">
                         <thead>
                           <tr>
                             <th scope="col">Nombre</th>
                             <th scope="col">Apellido</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <th scope="row">llenar con json</th>
                             <td>Llenar con json</td>
                           </tr>
                          
                         </tbody>
                       </table>
                       <button type="button" class="btn btn-secondary">Generar Reporte 1</button>               
        
        </td>
        <td class="tam"><hr size="2px" color="black" class="hr2"/></td>
          <td> <p class="texto22">Usuario Con o Sin Membresía</p>
            <div class="espacio"></div>
            <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">Con Membresía</th>
                    <th scope="col">Sin Membresía</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">llenar con json</th>
                    <td>Llenar con json</td>
                  </tr>
                 
                </tbody>
              </table>
              <button type="button" class="btn btn-secondary">Generar Reporte 2</button>
        
        </td>
          
      </tr>
      <tr>
        <td colspan="3"><hr size="2px" color="black" /></td>
    </tr>
      <tr>
        <td> <p class="texto22">Usuarios que Mas membresías han adquirido</p>
            <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">llenar con json</th>
                    <td>Llenar con json</td>
                  </tr>
                 
                </tbody>
              </table>
              <button type="button" class="btn btn-secondary">Generar Reporte 3</button>
        
        </td>
        <td class="tam"><hr size="2px" color="black" class="hr2"/></td>
        
        <td> <p class="texto22">Usuarios que más dinero han gastado</p>
            <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">llenar con json</th>
                    <td>Llenar con json</td>
                  </tr>
                 
                </tbody>
              </table>
              <button type="button" class="btn btn-secondary">Generar Reporte 4</button>
        
        </td>

    </tr>
    <tr>
        <td colspan="3"><hr size="2px" color="black" /></td>
    </tr>
      
   
    <tr>
        <td> <p class="texto22">Usuarios de X País</p>
            <p class="texto22">Seleccione País</p>
            <select name="miselect"  class="combo2">
                <option >opciones json</option>
            </select>
                     <table class="table table-sm table-dark">
                         <thead>
                           <tr>
                             <th scope="col">Nombre</th>
                             <th scope="col">Apellido</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <th scope="row">llenar con json</th>
                             <td>Llenar con json</td>
                           </tr>
                          
                         </tbody>
                       </table>
                       <button type="button" class="btn btn-secondary">Generar Reporte 5</button>
        
        </td>
        <td class="tam"><hr size="2px" color="black" class="hr2"/></td>
        
        <td> <p class="texto22">Usuarios de X genero</p>
            <p class="texto22">Seleccione Genero</p>
            <select name="miselect"  class="combo2">
                <option >F</option>
                <option >M</option>
            </select>
                     <table class="table table-sm table-dark">
                         <thead>
                           <tr>
                             <th scope="col">Nombre</th>
                             <th scope="col">Apellido</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <th scope="row">llenar con json</th>
                             <td>Llenar con json</td>
                           </tr>
                          
                         </tbody>
                       </table>
                       <button type="button" class="btn btn-secondary">Generar Reporte 6</button>
        
        </td>

    </tr>
    <tr>
        <td colspan="3"><hr size="2px" color="black" /></td>
    </tr>
      
   
    <tr>
        <td colspan="3"> <p class="texto22">Usuarios con al menos X años de edad</p>
            <p class="texto22">Seleccione País</p>
            <input
            type="edad"
            [(ngModel)]="edad"
            name="edad"
            placeholder="Ingrese Edad"
            required="required"
          />
                     <table class="table table-sm table-dark">
                         <thead>
                           <tr>
                             <th scope="col">Nombre</th>
                             <th scope="col">Apellido</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <th scope="row">llenar con json</th>
                             <td>Llenar con json</td>
                           </tr>
                          
                         </tbody>
                       </table>
                       <button type="button" class="btn btn-secondary">Generar Reporte 7</button>
        
        </td>

    </tr>
  </table>
