
  <hr size="2px" color="black" />
  <div>
   <h1 >Reportes Usuarios</h1>
  </div>
  <hr size="2px" color="black" />
  <table class="tabla1"> 
      <tr>
          <td> <p class="texto22">Usuarios Suscritos a X equipo</p>
            <p class="texto22">Seleccione Equipo</p>
            <select name="miselect" [(ngModel)]="selecEquipo"  class="combo2">
                <option [value]="item" *ngFor="let item of ListaEquipos">{{item}}</option>
            </select>
                     <table class="table table-sm table-dark">
                         <thead>
                           <tr>
                             <th scope="col">Nombre</th>
                             <th scope="col">Apellido</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr *ngFor="let Part1 of  jsonR1">
                             <th scope="row">{{Part1.NOMBRE}}</th>
                             <td>{{Part1.APELLIDO}}</td>
                           </tr>
                          
                         </tbody>
                       </table>
                       <button type="button" class="btn btn-secondary"(click)="Reporte1()" >Generar Reporte 1</button>               
        
        </td>
        <td class="tam"><hr size="2px" color="black" class="hr2"/></td>
          <td> <p class="texto22">Usuario Con o Sin Membresía</p>
            <div class="espacio"></div>
            <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">Con Membresía</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Part21 of  jsonR21">
                    <td>{{Part21.EMAIL}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-sm table-dark"> 
                <thead>
                  <tr>
                    <th scope="col">Sin Membresía</th>
                  </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let Part22 of  jsonR22">
                    <td >{{Part22.EMAIL}}<br></td>
                  </tr>
                  </tbody>
                 
              </table>
              <button type="button" class="btn btn-secondary" (click)="Reporte2()">Generar Reporte 2</button>
        
        </td>
          
      </tr>
      <tr>
        <td colspan="3"><hr size="2px" color="black" /></td>
    </tr>
      <tr>
        <td> <p class="texto22">Usuarios que Mas membresías han adquirido</p>
            <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">llenar con json</th>
                    <td>Llenar con json</td>
                  </tr>
                 
                </tbody>
              </table>
              <button type="button" class="btn btn-secondary">Generar Reporte 3</button>
        
        </td>
        <td class="tam"><hr size="2px" color="black" class="hr2"/></td>
        
        <td> <p class="texto22">Usuarios que más dinero han gastado</p>
            <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">llenar con json</th>
                    <td>Llenar con json</td>
                  </tr>
                 
                </tbody>
              </table>
              <button type="button" class="btn btn-secondary">Generar Reporte 4</button>
        
        </td>

    </tr>
    <tr>
        <td colspan="3"><hr size="2px" color="black" /></td>
    </tr>
      
   
    <tr>
        <td> <p class="texto22">Usuarios de X País</p>
            <p class="texto22">Seleccione País</p>
            <select name="miselect2" [(ngModel)]="selecPais" class="combo2">
                <option [value]="item" *ngFor="let item of ListaPaises">{{item}}</option>
            </select>
                     <table class="table table-sm table-dark">
                         <thead>
                           <tr>
                             <th scope="col">Nombre</th>
                             <th scope="col">Apellido</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr *ngFor="let Part5 of  jsonR5">
                             <td >{{Part5.NOMBRE}}</td>
                             <td>{{Part5.APELLIDO}}</td>
                           </tr>
                          
                         </tbody>
                       </table>
                       <button type="button" class="btn btn-secondary" (click)="Reporte5()">Generar Reporte 5</button>
        
        </td>
        <td class="tam"><hr size="2px" color="black" class="hr2"/></td>
        
        <td> <p class="texto22">Usuarios de X genero</p>
            <p class="texto22">Seleccione Genero</p>
            <select type="genero" name="genero" [(ngModel)]="genero" class="combo">
              <option value='F' >F</option>
              <option value='M' >M</option>
          </select>
                     <table class="table table-sm table-dark">
                         <thead>
                           <tr>
                             <th scope="col">Nombre</th>
                             <th scope="col">Apellido</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr *ngFor="let Part6 of  jsonR6">
                             <td>{{Part6.NOMBRE}}</td>
                             <td>{{Part6.APELLIDO}}</td>
                           </tr>
                          
                         </tbody>
                       </table>
                       <button type="button" class="btn btn-secondary" (click)="Reporte6()" >Generar Reporte 6</button>
        
        </td>

    </tr>
    <tr>
        <td colspan="3"><hr size="2px" color="black" /></td>
    </tr>
      
   
    <tr>
        <td colspan="3"> <p class="texto22">Usuarios con al menos X años de edad</p>
            <p class="texto22">Digite la edad</p>
            <input
            type="number"
            [(ngModel)]="edad"
            name="edad"
            placeholder="Ingrese Edad"
            required="required"
          />
                     <table class="table table-sm table-dark">
                         <thead>
                           <tr>
                             <th scope="col">Nombre</th>
                             <th scope="col">Apellido</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr *ngFor="let Part7 of  jsonR7">
                             <td >{{Part7.NOMBRE}}</td>
                             <td>{{Part7.APELLIDO}}</td>
                           </tr>
                          
                         </tbody>
                       </table>
                       <button type="button" class="btn btn-secondary" (click)="Reporte7()">Generar Reporte 7</button>
        
        </td>

    </tr>
  </table>
