<hr size="2px" color="black" />
  <div>
   <h1 >Reportes Empleados</h1>
  </div>
  <hr size="2px" color="black" />
  <table class="tabla1"> 
      <tr>
          <td> <h3>Empleados que MAS/MENOS noticias han publicado</h3>
            <div class="espacio"></div>
                      <p class="texto22">Empleados con más Noticias Publicadas</p>
                     <table class="table table-sm table-dark">
                         <thead>
                           <tr>
                             <th scope="col">Nombre</th>
                             <th scope="col">Apellido</th>
                             <th scope="col">Cantidad Noticias</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <th scope="row">llenar con json</th>
                             <td>Llenar con json</td>
                             <td>llenar con json</td>
                           </tr>
                          
                         </tbody>
                       </table>
                       <p class="texto22">Empleados con menos Noticias Publicadas</p>
                       <table class="table table-sm table-dark">
                           <thead>
                             <tr>
                               <th scope="col">Nombre</th>
                               <th scope="col">Apellido</th>
                               <th scope="col">Cantidad Noticias</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <th scope="row">llenar con json</th>
                               <td>Llenar con json</td>
                               <td>llenar con json</td>
                             </tr>
                            
                           </tbody>
                         </table>
                       <button type="button" class="btn btn-secondary" (click)="Reporte8Y9()">Generar Reporte 1</button>               
        
        </td>
        <td class="tam"><hr size="2px" color="black" class="hr2"/></td>
          <td> <p class="texto22">Empleados que MAS/MENOS noticias han publicado de X Equipo</p>
            <p class="texto22">Seleccione Equipo</p>
            <select name="miselect" [(ngModel)]="selecEquipo"  class="combo2">
              <option [value]="item" *ngFor="let item of ListaEquipos">{{item}}</option>
          </select>
            <p class="texto22">Empleados con más Noticias Publicadas</p>
            <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cantidad Noticias</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">llenar con json</th>
                    <td>Llenar con json</td>
                    <td>llenar con json</td>
                  </tr>
                 
                </tbody>
              </table>
              <p class="texto22">Empleados con menos Noticias Publicadas</p>
              <table class="table table-sm table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Cantidad Noticias</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">llenar con json</th>
                      <td>Llenar con json</td>
                      <td>llenar con json</td>
                    </tr>
                   
                  </tbody>
                </table>
            
              <button type="button" class="btn btn-secondary" (click)="Reporte9Y10()" >Generar Reporte 2</button>
        
        </td>
          
      </tr>
      <tr>
        <td colspan="3"><hr size="2px" color="black" /></td>
    </tr>
  </table>

