
  <h1 >CARGA MASIVA</h1>
  <hr size="2px" color="black" />
  <div class="espacio"></div>
  <div class="login">
      <form class="custom-form" method="post">
        <table class="">
            <tr>
                <td [width]="1000">
               <input
               type="estadios"
              [(ngModel)]="estadios"
              name="estadios"
              placeholder="Archivo Estadios"
              required="required"
              /> <button type="submit" class="texto2" (click)="CargaEstadios()" >Cargar Estadios</button>
                </td>
            </tr>
            <tr><td [width]="1000"> 
                <input
                type="equipo"
                [(ngModel)]="equipo"
                name="equipo"
                placeholder="Archivo Equipos"
                required="required"
              /> <button type="submit" class="texto2" (click)="CargaEquipos()" >Cargar Equipos</button>
               </td> 
                
              </tr>

            <tr><td [width]="1000"> 
              <input
              type="tecnicos"
              [(ngModel)]="tecnicos"
              name="tecnicos"
              placeholder="Archivo Tecnicos"
              required="required"
            /> <button type="submit" class="texto2"(click)="CargaDirectores()" >Cargar Técnicos</button>
             </td> 
              
            </tr>
              <tr><td [width]="1000"> 
                <input
                type="jugador"
                [(ngModel)]="jugador"
                name="jugador"
                placeholder="Archivo Jugador"
                required="required"
              /> <button type="submit" class="texto2" (click)="CargaJugadores()" >Cargar Jugadores</button>
               </td> 
                
              </tr>
              <tr><td [width]="1000"> 
                <input
                type="competicion"
                [(ngModel)]="competicion"
                name="competicion"
                placeholder="Archivo Competicion"
                required="required"
              /> <button type="submit" class="texto2" (click)="CargaCompeticion()" >Cargar Competencias</button>
               </td> 
                
              </tr>
              <tr><td [width]="1000"> 
                <input
                type="partido"
                [(ngModel)]="partido"
                name="partido"
                placeholder="Archivo partido"
                required="required"
              /> <button type="submit" class="texto2" (click)="CargaPartidos()">Cargar Partidos</button>
               </td> 
                
              </tr>
        </table>
      </form>