<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Soccer Statistics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </li>
      </ul>
    </div>
  </nav>
  <table>
    <tr>
      <td> <button type="button" class="btn btn-secondary"> <a class="nav-link" href="/login">Iniciar sesión :)</a></button></td>
      <td><button type="button" class="btn btn-secondary"> <a class="nav-link" href="/Registro">Registrar :)</a></button></td>
      
    </tr>
  </table>
  
  
  
 
  <table class="tabla2"> 
    <tr>
      <td><img src="assets\img\logo.png" width="200" height="180"></td>
    </tr>
    <tr>
      <td><h3>Tu mejor opción para estar al tanto de todas las noticias y estadisticas del mejor deporte del mundo!!</h3></td>
    </tr>
  </table>
  <hr size="2px" color="black" />
  
  
  <div class="video">
    <video src="assets\img\prueba.webm" alt="Funny image" autoplay loop  width="500" height="280"></video>
  </div>
  <table class="tabla1">
    <tr>
      <td [width]="150"></td>
      <td><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header" class="letra"><h2><img src="assets\img\p4.png" width="30" height="30">MISIÓN</h2></div>
        <hr size="2px" color="black" />
        <div class="card-body">
          <p class="card-text" class="letra">Nuestro mayor propósito es mantener informada a toda la poblacion aficionada al futbol, 
            con los partidos y marcadores más actualizados por un medio en el que la mayoria pueda tener acceso. </p>
        </div>
      </div></td>
      <td [width]="200"></td>
      <td><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header" class="letra"><h2><img src="assets\img\p4.png" width="30" height="30">VISIÓN</h2></div>
        <hr size="2px" color="black" />
        <div class="card-body">
          <p class="card-text" class="letra">Evolucionar como la mejor página de información de futbol a nivel mundial, 
            ser la página web de futbol más famosa por toda la población aficionada a este hermoso deporte.</p>
        </div>
      </div></td>
      <td [width]="200"></td>
      <td><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header" class="letra"><h2><img src="assets\img\p4.png" width="30" height="30">ACERCA DE</h2></div>
        <hr size="2px" color="black" />
        <div class="card-body">
          <p class="card-text" class="letra">Podras encontrar información de tus equipos favoritos, marcadores de juegos y muchos más.</p>
        </div>
      </div></td>
   
    </tr>
  </table>
  <hr size="2px" color="black" />
  <div>
    <table class="tabla">
      <tr>
        <td [width]="150"></td>
        <td><p class="letra"><img src="assets\img\p1.png" width="30" height="30">Sara Paulina Medrano Cojulún</p></td>
        <td [width]="200"></td>
        <td><p class="letra"><img src="assets\img\p1.png" width="30" height="30">Soccer Statistics</p></td>
        <td [width]="200"></td>
        <td><p class="letra"><img src="assets\img\p1.png" width="30" height="30">Marvin Eduardo Catalán Véliz</p></td>
      </tr>
      <tr>
        <td [width]="150"></td>
        <td><p class="letra"><img src="assets\img\p2.png" width="30" height="30">spmedranocojulun16@gmail.com</p></td>
        <td [width]="200"></td>
        <td><p class="letra"><img src="assets\img\p2.png" width="30" height="30">SoccerStatistics21@gmail.com</p></td>
        <td [width]="200"></td>
        <td><p class="letra"><img src="assets\img\p2.png" width="30" height="30">marvineduardocv12@gmail.com</p></td>
      </tr>
      <tr>
        <td [width]="150"></td>
        <td><p class="letra"><img src="assets\img\p3.png" width="30" height="30">Tel: 5937-0879</p></td>
        <td [width]="200"></td>
        <td><p class="letra"><img src="assets\img\p3.png" width="30" height="30">Tel: 2441-3456</p></td>
        <td [width]="200"></td>
        <td><p class="letra"><img src="assets\img\p3.png" width="30" height="30">Tel: 3075-8834</p></td>
      </tr>
     
    </table>
    
  </div>
